@import "tailwindcss";

@font-face {
  font-family: 'Bebas Neue';
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'Cormorant';
  src: url("../assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Oswald';
  src: url("../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Gidole";
  src: url("../assets/fonts/Gidole/Gidole-Regular.ttf");
}

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sign-in-container {
  font-family: "Gidole", sans-serif;
}
